@font-face {
    font-family: 'After Shok';
    src: url('AfterShok.woff2') format('woff2'),
        url('AfterShok.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}