.flex-container {
  display: flex;
  flex-direction: row;
  background-color: red;
  padding: 16px;
  border: blue solid 5px;
  gap: 20px;
}

.flex-container div {
  background: peachpuff;
  border: 4px solid salmon;
  flex: 1 1 100px;
}
.flex-container .one{
  flex-basis: 10000000px;
}

