@font-face {
    font-family: 'Mom \'sTypewriter';
    src: url('MomsTypewriter.woff2') format('woff2'),
        url('MomsTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

